.navbg {
  background-color: #0099ff;
  box-shadow: -1px 3px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 16px 0px rgba(0, 0, 0, 0.75);
}
.circle {
  color: rgb(13, 223, 13);
  margin-right: 2px;
}
.h-btn {
  margin-left: 10px;
  width: 60px;
  height: 25px;
  font-size: x-small;
  border-radius: 20px;
  border: none;
  background-color: rgb(78, 78, 156);
  color: white;
}
.banner-container {
  background-color: #0099ff;
  color: white;
}
.banner-btn {
  width: 150px;
  border: none;
  background-color: rgb(9, 123, 230);
  padding: 5px;
  border-radius: 20px;
}
.down button {
  text-decoration: none;
  color: white;
}
.down button:hover {
  color: white;
}
.banner-btn:hover {
  background-color: rgb(41, 45, 240);
}
.mainwork i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #0099ff;
}
.mainwork h5 {
  color: #0099ff;
  font-weight: 400;
}
