.navbg {
  background-color: #0099ff;
}
.circle {
  color: rgb(13, 223, 13);
  margin-right: 2px;
}
.nav-btn:hover {
  background-color: rgb(41, 45, 240);
  border-radius: 5px;
}
.h-btn {
  margin-left: 10px;
  margin-top: 3px;
  width: 60px;
  height: 20px;
  font-size: x-small;
  border-radius: 20px;
  border: none;
  background-color: rgb(78, 78, 156);
  color: white;
}
hr {
  width: 100px;
  padding: 2px;
}
.banner-container {
  background-color: #0099ff;
  color: white;
}
.banner-btn {
  width: 150px;
  border: none;
  background-color: rgb(245, 215, 49);
  padding: 5px;
  border-radius: 20px;
}
.down button {
  text-decoration: none;
  color: white;
}
.down button:hover {
  color: white;
}
.banner-btn:hover {
  background-color: rgb(41, 45, 240);
}
.mainwork i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #0099ff;
}
.mainwork h5 {
  color: #0099ff;
  font-weight: 400;
}
.experiences img {
  height: 120px;
}
.experiences h6 {
  font-weight: 400;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(182, 178, 178, 0.404);
}
.p-button {
  margin: 5px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0099ff;
  color: white;
}
.used button {
  border: none;
  margin: 5px;
  pointer-events: none;
  border-radius: 5px;
}
.success-button {
  margin: 5px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0099ff;
  color: white;
}
.wait-button {
  margin: 5px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #676857;
  color: white;
}
.p-button:hover {
  background-color: blue;
}
.main-img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75);
}
.contact-input {
  cursor: pointer;
  width: 100%;
  outline: 1px solid #0099ff;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.contact-input:focus {
  background-color: #6dc0f767;
}
.info {
  margin: 5px auto;
}
.info:hover {
  color: blue;
}
.top {
  position: fixed;
  padding: 15px;
  background-color: #0099ff;
  color: white;
  border-radius: 50%;
  bottom: 15px;
  right: 15px;
}
.top:hover {
  background-color: blue;
}
